In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("spotify_millsongdata.csv")

In [7]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [8]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [9]:
df.shape

(57650, 4)

In [10]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [11]:
df = df.sample(7000).drop('link', axis=1).reset_index(drop=True)

In [12]:
df.head(6)

,artist,song,text
0,X-Ray Spex,Art-I-Ficial,I know I'm artificial \r\nBut don't put the b...
1,Roy Orbison,"Land Of 1,000 Dances","One, two, three \r\nOne, two, three \r\n \r..."
2,Pitbull,Jungle Fever,"Ehhh \r\nWyclef with Pitbull, \r\nThe clubs ..."
3,Mazzy Star,Wasted,After I stuck my \r\nHands into your ground ...
4,Robbie Williams,Ghosts,Here I stand victorious \r\nThe only man who ...
5,Lil Wayne,Hustler Musik,"Hit me, right in the sternum this time t baby ..."

In [13]:
df['text'][0]

"I know I'm artificial  \r\nBut don't put the blame on me  \r\nI was reared with appliances  \r\nIn a consumer society  \r\n  \r\nWhen I put on my make-up  \r\nThe pretty little mask not me  \r\nThat's the way a girl should be  \r\nIn a consumer society  \r\n  \r\nMy existence is elusive  \r\nThe kind that is supported  \r\nBy mechanical resources  \r\n  \r\nMy existence is elusive  \r\nThe kind that is supported  \r\nBy mechanical resources  \r\n  \r\nI want to be Instamatic  \r\nI want to be a frozen pea  \r\nI wanna be dehydrated  \r\nIn a consumer society  \r\n  \r\nIn a consumer society  \r\nIn a consumer society\r\n\r\n"

In [14]:
df.shape

(7000, 3)

Text Preprocessing

In [15]:
df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ', regex = True)

0       i know i'm artificial  \r but don't put the bl...
1       one, two, three  \r one, two, three  \r   \r d...
2       ehhh  \r wyclef with pitbull,  \r the clubs ai...
3       after i stuck my  \r hands into your ground  \...
4       here i stand victorious  \r the only man who m...
                              ...
6995    would you lay with me in a field of stone  \r ...
6996    slow down baby uhh  \r slow down baby uhh  \r ...
6997    if there's anything you need  \r all you have ...
6998    the flame of love we had has finally died  \r ...
6999    i've changed my hair, my clothes, almost  \r e...
Name: text, Length: 7000, dtype: object

In [16]:
df.tail(5)

,artist,song,text
6995,David Allan Coe,Would You Lay With Me (In A Field Of Stone),Would you lay with me in a field of stone \r\...
6996,LL Cool J,Rampage,Slow down baby uhh \r\nSlow down baby uhh \r...
6997,Rick Astley,Together Forever,If there's anything you need \r\nAll you have...
6998,Beach Boys,It's Over Now,The flame of love we had has finally died \r\...
6999,Faith Hill,Me,"I've changed my hair, my clothes, almost \r\n..."

In [17]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANWESA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [18]:
 
from nltk.stem.porter import PorterStemmer

In [19]:
stemmer = PorterStemmer()

In [20]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [21]:
df['text'].apply(lambda x: token(x))

0       i know i 'm artifici but do n't put the blame ...
1       one , two , three one , two , three do you kno...
2       ehhh wyclef with pitbul , the club ai n't safe...
3       after i stuck my hand into your ground and pul...
4       here i stand victori the onli man who made you...
                              ...
6995    would you lay with me in a field of stone if m...
6996    slow down babi uhh slow down babi uhh you can ...
6997    if there 's anyth you need all you have to do ...
6998    the flame of love we had ha final die ca n't t...
6999    i 've chang my hair , my cloth , almost everyt...
Name: text, Length: 7000, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [24]:
matrix = tfid.fit_transform(df['text'])

In [25]:
similar = cosine_similarity(matrix)

In [26]:
similar[0]

array([1.        , 0.00158423, 0.00295802, ..., 0.01938281, 0.        ,
       0.0058984 ])

In [27]:
df[df['song'] == 'On The Side Of Angels'].index[0]

3747

In [28]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x: x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [29]:
recommender('On The Side Of Angels')

['It Came Upon A Midnight Clear',
 'And The Angels Sing',
 "Ain't No Angels",
 'Angels Are Hard To Find']

In [30]:
import pickle

In [38]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [37]:
with open("df.pkl", "wb") as f:
    pickle.dump(df, f)